{% extends "cms/base.html" %}

{% block body %}

<span id='title'>Announcements</span>

<div class='container-fluid'>
    <div class='row'>
        {% for announcement in announcement_list %}
				<div id='announce'>
					<div class='announce_title'>{{announcement.title}}</div>
					<div class='details text-muted'>posted by {{announcement.author}} on {{announcement.created}}</div>
					<div class ='content'>{{announcement.content|safe}}</div>
				</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
